<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title %></title>
<%- include ("../partials/head") %>

<div id="mydiv" data-db=<%= db %>></div>
<script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();

	$("#editEmployeeModal").on('show.bs.modal', function(e) {
    	var correo = $(e.relatedTarget).data().correo;
		$(e.currentTarget).find('#correoEditEmployee').val(correo);
	});

	var resultado = document.getElementById('mydiv').dataset.db
	empleados = JSON.parse(resultado)
	console.log(empleados)
	let admins = empleados[0]
	let meseros = empleados[1]
	let amongAdmins = admins.length
	let amongMeseros = meseros.length
	var table = '';
	let countI = 0;
	let countJ = 0;
	for(var i = 0; i< amongAdmins; i++){
		var row = '<tr><td><span class="custom-checkbox"><input type="checkbox" id="checkbox'+i+'" '+ 'name="options[]" value="1"><label for="checkbox'+i+'"'+ '></label></span></td><td>'
		+admins[i].nombres_administrador+'</td><td>'+admins[i].paterno_administrador+'</td><td>'+admins[i].materno_administrador+'</td><td>'
		+admins[i].correo_administrador+'</td><td> Admin </td><td>'+'<a href="#" data-correo="'+admins[i].correo_administrador+'" class="edit" data-toggle="modal" data-target="#editEmployeeModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>'
		+'<a href="#deleteEmployeeModal" class="delete" data-toggle="modal">'
		+'<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td></tr>';

		table += row;
		countI++; 
	}
	for(var j = 0; j< amongMeseros; j++){
		countJ = countI + j
		var row = '<tr><td><span class="custom-checkbox"><input type="checkbox" id="checkbox'+countJ+'" '+ 'name="options[]" value="1"><label for="checkbox'+countJ+'"'+ '></label></span></td><td>'
		+meseros[j].nombres_mesero+'</td><td>'+meseros[j].paterno_mesero+'</td><td>'+meseros[j].materno_mesero+'</td><td>'
		+meseros[j].correo_mesero+'</td><td> Mesero </td><td>'+'<a href="#" data-correo="'+meseros[j].correo_mesero+'" class="edit" data-toggle="modal" data-target="#editEmployeeModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>'
		+'<a href="#deleteEmployeeModal" class="delete" data-toggle="modal">'
		+'<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td></tr>';

		table += row; 
	}
	document.getElementById("empleadoRow").innerHTML = table

	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		}
	});
	
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
	
});

</script>
</head>
<body> 
     <!---menu de navegacion cliente superior-->
     <%- include ("../partials/navAdmin") %>


     <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Gestion de <b>Empleados</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>A単adir</span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Eliminar</span></a>						
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>Nombre</th>
						<th>Apellido paterno</th>
						<th>Apellido materno</th>
						<th>correo</th>
						<th>Rol</th>
						<th></th>
					</tr>
				</thead>
				<tbody id = "empleadoRow">
					
				</tbody>
			</table>
			<div class="clearfix">
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Anterior</a></li>
					<li class="page-item active"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action= "/addEmployeeModal" method="POST">
				<div class="modal-header">						
					<h4 class="modal-title">A単adir Empleado</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" name = "nombres_empleado" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Apellido paterno</label>
						<input type="text" name = "paterno_empleado" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Apellido materno    *</label>
						<input type="text" name = "materno_empleado" class="form-control" >
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name = "correo_empleado" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Rol</label>
						<br>

						<input type="radio" name="rol_empleado" value="1">Administrador
						
						<br>

						<input type="radio" name="rol_empleado" value="2" checked>Mesero
						<br>
					</div>				
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-success" value="A単adir">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action= "/editEmployeeModal" method="POST">
				<div class="modal-header">						
					<h4 class="modal-title">Editar Empleado</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">	
					<div class="form-group">
						<label>Correo</label>
						<input type="text" readonly="readonly" name="correo_EditEmployee" id="correoEditEmployee">
					</div>					
					<div class="form-group">	
						<label>Nombre</label>
						<input type="text" name="nombres_EditEmployee" class="form-control">
					</div>
					<div class="form-group">
						<label>Apellido paterno</label>
						<input type="text" name="paterno_EditEmployee" class="form-control">
					</div>
					<div class="form-group">
						<label>Apellido materno</label>
						<input type="text" name="materno_EditEmployee" class="form-control">
					</div>
					<div class="form-group">
						<label>Rol</label>
						<br>

						<input type="radio" name="rol_EditEmployee" value="1">Administrador
						
						<br>

						<input type="radio" name="rol_EditEmployee" value="2">Mesero
						<br>
					</div>			
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-info" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Eliminar Empleado</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>多Estas seguro?</p>
					<p class="text-warning"><small>Esta accion no se puede deshacer</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
					<input type="submit" class="btn btn-danger" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>

 <!-- FOOTER -->
 <%- include ("../partials/footer") %>
</body>
</html>