<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ("../partials/head") %>
</head>
<body>
    <!---menu de navegacion cliente superior-->
	<%- include ("../partials/navcliente") %>

	<!---mensaje exitoso-->
	<ul class="text-center mensaje_exito">
	<% if(messages.success_msg) { %>
		<li>.</li>
		<li>	</li>
		<li><%= messages.success_msg %></li>
		<% } %>
	</ul>

	<!---mensaje de error-->
	<ul class="text-center errores">
		<% if(typeof errors != 'undefined'){ %> <% errors.forEach(error=>{ %>
			<li>.</li>
			<li>	</li>
			<li><%= error.text  %></li>
		<% }) %> <% } %>
	</ul>
	

	<!-- MAIN CONTENT -->
	<div class="img-header">
		<div class="welcome">
			<h4 id="bienvenida-cliente">Bienvenido señor(a) <%= user.charAt(0).toUpperCase() + user.slice(1) %></h4>
		</div>       
	</div>
	
	<!-- section one -->
	<div class="container-fluid" id="about">
		<div class="row bg-warning p-5 text-center">
		<div class="col-sm-6">
			<i class="fas fa-hand-point-right fa-10x"></i>  
		</div>
		<div class="col-sm-6">
			<h3>No nos gusta presumir, pero de alguna manera terminamos con un menú francamente excepcional.</h3>          
		</div>
		</div>
	</div>

    <!-- FOOTER -->
    <%- include ("../partials/footer") %>
   
</body>
</html>