<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ("../partials/head") %>
	<link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <!---menu de navegacion mesero superior-->
    <%- include ("../partials/navMesero") %>

    <div class="img-header-mesero">
		<div class="welcome">            
            <h4 id="bienvenida_mesero">Bienvenido señor(a) <%= user.charAt(0).toUpperCase() + user.slice(1) %></h4>
        </div>       
    </div>
       
    <!-- section one -->
	<div class="container-fluid" id="about">
		<div class="row bg-secondary p-5 text-center">
		<div class="col-sm-6">
			<i class="fas fa-hand-point-right fa-10x"></i>  
		</div>
		<div class="col-sm-6">
			<h3>No nos gusta presumir, pero de alguna manera terminamos con un menú francamente excepcional.</h3>          
		</div>
		</div>
	</div>

    <!-- FOOTER -->
    <%- include ("../partials/footer") %>
   
</body>
</html>